* {
  box-sizing: border-box;
}

.equation {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: calc(14px + (26 - 14) * ((10vw - 300px) / (1600 - 300)));
  /*line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));*/
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}

#animation {
    background: inherit;
    color: white;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.slidercontainer {
    width: 70%;
    color: white;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -95%)
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3em;
    border-radius: 3em;  
    background: #cecdcd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5em;
    height: 5em;
    border-radius: 50%; 
    background: rgb(131, 131, 180);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: rgb(131, 131, 180);
    cursor: pointer;
  }

  #instructions {
      padding: 1em;
      padding-top: 0.3em;
      margin: auto;
      font-family: 'Architect',sans-serif;
      font-size: 2em;
  }

  #title {
    width: fit-content;
    padding: 0.1em;
    margin: auto;
    font-family: 'Architect',sans-serif;
    font-size: 3em;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@font-face {
  font-family: "Architect";
  src: url("ArchitectsDaughter-Regular.ttf");
}

.menu {
  font-size: large;
}

.panel {
  padding: 5px;
  border-radius: 8px;
}

.sliders
{
  position: absolute;
  bottom: 50px;
  width: 450px;
}